<%- include('../modules/header'); %>
<main>
  <p>I'm a software engineering student at BYU-Idaho. Right now I like native mobile apps, but I consider myself a decent full-stack web developer too.</p>
  <p>
    Here's a whole list of things I enjoy that have nothing to do with coding. (If you don't care, check out my <a href="resume.pdf">resume</a> or <a href="https://github.com/coryswainston">GitHub</a>.)
  </p>
  <ul>
    <li><a href="https://twitter.com/utahjazz">Basketball (Utah Jazz).</a></li>
    <li><a href="https://www.franklincovey.com/the-7-habits.html">Business and self-help-esque books.</a></li>
    <li><a href="https://www.lds.org">Going to church.</a></li>
    <li><a href="https://www.imdb.com/title/tt1375666/">Movies by Christopher Nolan.</a></li>
    <li>Playing acoustic guitar. I also sing in choirs and play in a drumline.</li>
    <li>Mexican and Indian food.</li>
    <li><a href="https://www.amazon.com/dp/B004W2UBYW/ref=dp-kindle-redirect?_encoding=UTF8&btkr=1">Biographies.</a></li>
    <li><a href="https://storage.googleapis.com/memes2018/1542456981909alphameme.jpg">Memes that make no sense.</a></li>
    <li><a href="https://en.wikipedia.org/wiki/Fry_sauce">Fry sauce.</a> Also Frosted Flakes.</li>
    <li>The states of Idaho, Utah, Arkansas, and Missouri.</li>
    <li><a href="https://www.youtube.com/watch?v=EbGTGCxXcec&t=372s">Vines</a>, or <a href="https://www.youtube.com/user/Vsauce">interesting YouTube videos.</a></li>
  </ul>
</main>
<%- include('../modules/footer'); %>
