<%- include('../modules/header'); %>
<main>
  <a class="index blue-underline" href="/bio">Bio</a><br>
  <a class="index orange-underline" href="https://storage.googleapis.com/swainstoncory/Resume.pdf">Resume</a><br>
  <a class="index green-underline" href="https://github.com/coryswainston">GitHub</a><br>
  <a class="index yellow-underline" href="https://linkedin.com/in/coryswainston">LinkedIn</a><br>
</main>
<%- include('../modules/footer'); %>
